<div class="container">
<h3>Uses's Detail</h3><br>
  <table class="table" style="width: 70%;">
    <%
=begin%>
 <thead>
      <tr>
        <th scope="col">Image</th>
        <%if @product.image.attached?%>
        <th scope="col">
          <%= image_tag(@product.image, style: "width: 20%; height: 10%")%>
        </th>
          <% end %>
      </tr>
    </thead> 
<%
=end%>
    <tbody>
      <tr>
        <th scope="row">First name</th>
        <td><%= current_user.first_name%></td>
      </tr>
      <tr>
        <th scope="row">Last name</th>
        <td><%= current_user.last_name%></td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td><%= current_user.email%></td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <%= @u_suggestions.each do |s|%>
        <td><%= s.suggestion%></td>
        <% end %>
      </tr>

    </tbody>
  </table>
  
</div>
