<% if user_signed_in? %>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link disabled "><%= current_user.first_name.capitalize%></a>
  </li>
  <li class="nav-item">
  <button class=" nav-link btn btn-primary position-relative pt-0">
    <%= link_to 'Products', products_path, class: "nav-link"%>
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    <%= current_user.products.count%>
    <span class="visually-hidden">unread messages</span>
  </span>
</button>
  </li>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <li class="nav-item">
    <%= link_to 'Add New Product', new_product_path, class: "btn btn-primary"%>
  </li>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <li class="nav-item">
    <%= link_to 'Add New suggestion', new_suggestion_path, class: "btn btn-primary button"%>
    
  </li>
  <li class="nav-item" style="margin-left:59%">
    <%= link_to 'logout', destroy_user_session_path, method: :destroy, class: "nav-link"%>
  </li>
</ul>
<% else %>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link">Stranger</a>
  </li>
  <li class="nav-item" style="margin-left:79%">
    <%= link_to 'Sign up', new_user_registration_path, class: "nav-link"%>
  </li>
    <li class="nav-item">
    <%= link_to 'Sign in', new_user_session_path, class: "nav-link"%>
  </li>
</ul>
<% end %>

