<%= render "homes/navbar" %>
<br><br><br>
<% if user_signed_in? %>
<div class="">
    <div class="container">
        <table class="table">
            <caption><%= current_user.first_name%>'s Products</caption>
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Color</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
            
          <% @products.each do |p|%>
              <tr>
                <th scope="row"> <%= p.id%></th>
                <td><%= p.name%></td>
                <td><%= p.color%></td>
                <td><%= p.price%></td>
                <td><%= link_to 'Detail', product_path(p), class: "nav-link"%>
                    <%= link_to 'Edit', edit_product_path(p), class: "nav-link"%>
                    <%= button_to 'Delete', p, method: :delete, class: "btn btn-danger"%>
                </td>
              </tr>
              <% end %>
                <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th><%= link_to 'Back', root_path%></th>
                <th ></th>
              </tr>
 
            </tbody>
          </table>
    </div>
</div>

<% else %>
   <div></div>
  <% end %>   

<!-- <div class="container">
    <div class="row">
        <% @products.each do |p|%>
        <div class="col-md-4">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Name: <%= p.name%></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn">Color: <%= p.color%></a><br>
                  <a href="#" class="btn"> Price: <%= p.price%>-/RS</a><br>
                  <%= link_to 'Detail', product_path(p), class: "nav-link"%>
                    <%= link_to 'Edit', edit_product_path(p), class: "nav-link"%>
                    <%= link_to 'Delete', p, method: :destroy, class: "nav-link"%>
                </div>
              </div>
        </div>
        <% end %>
    </div>
</div> -->
