
<%= form_for Suggestion.new do |f| %>
    <%= f.hidden_field :suggestionable_id, value: params["id"] %>
    <%= f.hidden_field :suggestionable_type, value: params["controller"].singularize.capitalize %>
    <p>Suggestion: <%= f.text_area :suggestion %></p>
    <%= f.submit %>
<% end %>